h1{
 color:#4D0000;
 font-size: 45;
 font-family:times;
 cursor:text;
 font-style: italic;
 font-variant:small-caps;
 text-align:left;
 margin-left:70px;
 text-shadow: 2px 2px #FE5D5D ;
 }
body{
     background-color: #FE8D64;
     border: 20px solid #C41B1B;
     padding: 40px;
     margin:1px;
     text-align:left;
 }
 
p1{
     color:#4D0000;
     font-size:20;
     border:1px solid #D76D4D;
     background-color:#FEB787;
     cursor:pointer;
     border-style:groove;
     padding:10px;
     position:relative;
     margin-left: 1100px;
     text-shadow: 1px 1px black;
     margin-bottom:1px;
 }