body {
background-image: linear-gradient(to right,#0716E6,#3340EA,#7D85EC,#F2F3F9);
}
  
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.primary-cta {
  padding-left:18px;
  padding-right: 18px;
  padding-bottom:7px;
  padding-top: 0px;
  font-size: 50px;
  color:white;
  background-color: #2734ED;
  border-radius:50%;
  text-decoration: none;
  position: absolute;
  bottom: 50px;
  right:60px;
}

#signOut,#logIn {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 20px;
  color: wheat;
  text-decoration: none;
  top:50px;
  right:50px;
  position: absolute;
  border-color: #3340EA;
  border-width: 3px;
  border-style: solid;
  padding: 10px;
  background-color: #2734ED;
  
}

#myCalendar{
  font-family: "Roboto";
  font-weight: bold; 
  font-size: 50px;
  color:#DFE0ED;
  text-shadow: 1px 1px 1px #B3B3BA;
  font-style: italic;
}

p3 {
  font-size: 15px;
  color:wheat;
  font-style: italic;
  position: absolute;
   bottom: 30px;
  left:30px;
}

#welcome{
  font-family: "Roboto";
  font-weight: bold; 
  font-size: 80px;
  color:#DFE0ED;
  text-shadow: 1px 1px 1px #B3B3BA;
  font-style: italic;
}

#logIn {
    position: absolute;
  left:60px;
  top:250px;
  padding-left: 30px;
  padding-right: 30px;
  font-size:25px;
}