.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.primary-cta {
  padding-left:18px;
  padding-right: 18px;
  padding-bottom:7px;
  padding-top: 0px;
  font-size: 50px;
  color:white;
  background-color: #2734ED;
  border-radius:50%;
  text-decoration: none;
  position: absolute;
  bottom: 50px;
  right:50px;
}